.container {
	display: inline-block;
}

.container > .logo_text, .img_logo {
	vertical-align: middle;
	margin-left: 28px;
}

.logo_text {
	font-size: 22px;
	color: #FFF;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #313131;
}

.hide-block {
	width: 120px;
	height: 50px;
	margin-bottom: 30px;
	outline: none;
	border-radius: 4px;
	border: 1px solid #000000;
	cursor: pointer;
}

#to-top {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	border: none;
	outline: none;
	background-color: red;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 10px;
	font-size: 18px;
}

.navbar {
	display: flex;
	justify-content: space-between;
}

.navbar_list {
	padding: 0 20px;
}

.navbar_list_menu {
	font-size: 15px;
	color: #FFF;
	text-transform: uppercase;
	text-decoration: none;
}

.navbar_list a:hover {
	color: #14B9D5;
}

.loupe_img {
	background-color: #000;
	padding: 15px 15px;
}

.parallax {
	background-image: url("../img/header_bg.jpeg");
	height: 390px;
	background-attachment: fixed;
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	color: #ffffff;
}

.news-offer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}

.flex-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 700px;
	height: 120px;
}

.parallax-headline {
	font-size: 27px;
}

.flex-for-buttons {
	display: flex;
	width: 360px;
	justify-content: space-between;
}

.button-settings {
	box-sizing: border-box;
	width: 170px;
	height: 55px;
	font-weight: 600;
	text-align: center;
	text-decoration: none;
	padding-top: 20px;
	border-radius: 5px;
	color: white;
	font-size: 18px;
}

.sub-button {
	background-color: #89ca62;
}

.article-button {
	background-color: #14b9d5;
}

.most-pop-bg-color {
	background-color: #f2f2f2;
	padding-bottom: 70px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.basic-headline {
	display: block;
	text-transform: uppercase;
	font-size: 27px;
	font-weight: 700;
	padding-top: 60px;
	padding-bottom: 50px;
	text-align: center;
	color: #18b4cf;
}

.most-popular {
	display: flex;
	width: 1170px;
	justify-content: space-between;
	justify-self: center;

}

.post-column {
	align-self: flex-start;
}

.popular-post-top {
	width: 370px;
	margin-bottom: 30px;
}

.post-img {
	display: block;
}

.post-descript {
	display: inline-block;
	font-size: 18px;
	font-weight: 600;
	width: 310px;
	padding: 20px 30px;
	text-align: center;
	background-color: white;
}

.grid-section {
	display: grid;
}

.bot-parallax {
	background-image: url("../img/parallax_bg.jpeg");
	height: 590px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.on-parallax-content {
	text-align: center;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.1);
}

.pop-clients {
	position: relative;
	font-size: 32px;
	color: white;
	padding-top: 200px;
	text-transform: uppercase;
	font-weight: 700;
	overflow: visible;
}

.pop-clients:after {
	position: absolute;
	content: "";
	width: 60px;
	top: 280px;
	left: 50%;
	transform: translateX(-50%);
	border-bottom: 3px solid #169cb4;
}

.brands {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;
	justify-content: center;
	width: 900px;
	margin: 120px auto 0;
}


.brands__item img {
	object-fit: contain;
}

.brands__item a {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.horiz-gallery {
	display: grid;
	grid-template-rows: repeat(1, 1fr);
	grid-template-columns: repeat(7, 1fr);
	margin-bottom: 50px;
}

.horiz-gallery-item {
	width: 100%;
}

.hot-news-section {
	display: grid;
}

.bot-gallery {
	display: grid;
	justify-items: center;
	justify-self: center;
	width: 1170px;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(4, 1fr);
	grid-row-gap: 45px;
}

.bot-gallery > div > div {
	background-color: #f9f7f7;
}


.bot-gallery-row-1 {
	display: grid;
	justify-content: center;
	grid-template-columns: 855px 280px;
	grid-column-gap: 35px;
}

.bot-gallery-row-4 {
	display: grid;
	justify-content: center;
	grid-template-columns: 280px 855px;
	grid-column-gap: 35px;
}

.bot-gallery-row-2,
.bot-gallery-row-3 {
	display: grid;
	justify-content: center;
	grid-template-columns: 555px 555px;
	grid-column-gap: 60px;
}

.cell-1-1 {
	display: grid;
	grid-template-columns: 483px 375px;

}

.cell-1-2 {
	display: grid;
	grid-template-columns: 277px;
	grid-template-rows: 210px 50px;
}

.cell-2-1 {
	display: grid;
	grid-template-rows: 260px 160px;
	grid-template-columns: 555px;
}


.cell-2-2 {
	display: grid;
	grid-template-rows: 260px 160px;
}

.cell-3-1 {
	display: grid;
	grid-template-rows: 260px 160px;
}

.cell-3-2 {
	display: grid;
	grid-template-rows: 260px 160px;
}

.cell-4-1 {
	display: grid;
	grid-template-columns: 277px;
	grid-template-rows: 210px 50px;
}

.cell-4-2 {
	display: grid;
	grid-template-columns: 483px 375px;
}

.bot-gallery-text-else {
	text-align: right;
	padding: 40px 50px 0 30px;
	color: #7b8185;
}

.bot-gallery-text {
	text-align: right;
	padding: 20px 25px 0 25px;
	color: #7b8185;
}

.bot-gallery-headline {
	font-size: 18px;
	font-weight: 700;
	display: inline-block;
	margin-bottom: 20px;
	color: #333333;
}

.bot-gallery-single-img-headline {
	text-align: center;
	padding-top: 13px;
	font-weight: 700;
	font-size: 18px;
}

.bot-gallery-p {
	display: inline-block;
	font-size: 14px;
	font-weight: 600;
}

.grid-container {
	display: grid;
}

.grid-section-new {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-self: center;
	width: 1170px;
	grid-gap: 30px
}


.row-direction {
	display: grid;
	grid-column: 1 / 5;
	grid-template-columns: repeat(4, 1fr);
}


.row-1,
.row-4 {
	grid-gap: 30px;
}


.one {
	display: flex;
	grid-column: 1 / span 3;
	background-color: #F9F7F7;
}

.two {
	background-color: #F9F7F7;
}

.two h3 {
	text-align: center;
	margin-top: 13px;
}

.three,
.five {
	grid-column: 1 / span 2;
	display: flex;
	flex-direction: column;
	text-align: right;
	margin-right: 30px;
	background-color: #F9F7F7;
}

.four,
.six {
	grid-column: 3 / span 4;
	display: flex;
	flex-direction: column;
	text-align: right;
	margin-left: 30px;
	background-color: #F9F7F7;
}

.seven {
	background-color: #F9F7F7;
}

.seven h3 {
	text-align: center;
	margin-top: 12px;
}

.eight {
	display: flex;
	grid-column: 2 / span 4;
	background-color: #F9F7F7;
}

.container-block {
	padding: 12px 14px;
}

.container-news-1,
.container-news-7 {
	text-align: right;
	margin: 30px;
}

.footer_container {
	background-color: #000;
	margin-top: 70px;
}

.footer_list {
	width: 1170px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 80px;
	align-items: center;
	margin: 0 auto;
}

.footer_logo {
	display: flex;
	justify-content: flex-end;
	text-transform: uppercase;
	font-size: 24px;
	color: #FFF;
}

.footer_sign {
	color: #FFF;
}













.news-header {
	margin-bottom: 14px;
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	color: #353A3D;
}

.news-text {
	font-weight: 600;
	font-size: 14px;
	line-height: 21px;
	color: #5B6469;
}

.blue_line {
	width: 60px;
	margin: 87px auto 0;
	border-top: 3px solid #18B4CF;
}
